<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wlx.wsolandroid"
    android:versionCode="10"
    android:versionName="1.4.1" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_LOGS"/>

    

    <application
        android:name=".application.WSOLApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        

        <!-- 主页面 -->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WeaponXishuActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >           
        </activity>
        <activity
            android:name=".ScaleImageActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="540523dcfd98c5a740058604" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Xiaomi" />
    </application>

</manifest>